<!-- #웹문서 전체 또는 일부에 관련 언어를 지정하는 속성 -->

<DOCTYPE html>

<html> 

<!--언어-->
<html lang="ko">


  <head>
<!--한글표시로 문서시작-->
    <meta charset="UTF-8">

   
    <title>임도영 자기소개입니다.</title>
    <body bgcolor= "#FAEBF9">
  </head>

  <body>



        <u><h1> LIM DO-YOUNG</u>  (<span style="color: #FB3D09;"> 임 </span> <span style="color: #FA8804;">도 </span> <span style="color: #B963FA;"> 영 </span>) </h1>
 
        <!--점선-->
        <hr style="border:#FD67B0 2px dashed">
        <hr style="border:#F4ABF1 2px dashed">
        <hr style="border:#FAE4F9 2px dashed">
        <hr style="border:#F6EEF5 2px dashed">



    <br><br><br><br>

<!--목차-->   

            <p><h4><strong>목차</strong></h4></P>

            <ol>
                    <li><a href="#book1"></li> 이름, 거주지, 한줄소개
                    <li><a href="#book2"></li> MBTI
                    <li><a href="#book3"></li> 취미 및 특기
                    <li><a href="#book4"></li> 앞으로의 목표
            <ol/>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- 이름, 한줄소개-->
<br></br><br>
<a id="book1"></a><li><b> 이름, 한줄소개 </b><br>
    <table border ="1">
        <tr><td>
            <!--figure: 그림,사진,텍스트를 하나로 묶어서 독립된 단위로 사용-->
            <figure>
                 ♥ 두 마리 고양이 집사 ♥ </br>
                <hr></hr>
                 <table><tr>
                    <td><img src="D:\github_repository\django_teamproject\Django_project\image\1.jpg" alt="북꾹" width="300"></td>
                    <td><img src="D:\github_repository\django_teamproject\Django_project\image\2.jpg" ale="남꾹" width="300"></td>
                    </tr>
                </table>
            </figure>
            <ul>
                <li> 이름 : 임도영 </li>
                <li> 거주지 : 대구 중구 남산동 일대</li>
                <li> 인간볕뉘 </li>
                
            </ul> <br>
        </td></tr>
        <br><br>
    </table>

 <!-- 성격 -->   
<br></br><br>
<a id="book2"></a><li><b> 성격 & MBTI </b></li> <br>
    <table border ="1">
        <tr><td>
            <figure>
                <table><tr>
                    <td><img src="D:\github_repository\django_teamproject\Django_project\image\MBTI.PNG" alt="ESFJ" width="600"></td>
                </tr>
            </table>
        </figure>
        <ul>
            <li><h4> MBTI : ESFJ-T </h4> </li>
        </ul>
    </td></tr>
</table>

<!-- 취미 및 특기 -->
<br></br><br><br>
<a id="book3"></a><li><b>취미 및 특기</b></li> <br>
    <table border="1">
        <tr><td>
            <ul>
                <li> 취미 : 좋아하는 문장 핸드폰 기록하면서 책 읽기, 필름카메라,폴라로이드 사진찍으러 가기      </li>
                <li> 특기 : 길 외우기 </li>
            </ul>
        </tr></td>
    </table>


<!--앞으로의 목표-->
<br></br><br><br>
<a id="book4"></a><li><b>앞으로의 목표 </b></li> <br>
    <table border="1">
        <tr><td>
            <ul>
                <li> 상반기 자격증 <span style="color:red;"> 3개 </span> 취득하기   </li>
                <li> 점프 투 파이썬 완벽히 숙지하기  </li>
            </ul>
        </tr></td>
    </table>


   

</html>



